.Table {
    margin: 5%;
    max-height: 75vh;
    overflow-y: auto;
    text-align: center;
    font-size: 1rem;
    color: white;
    margin-bottom: 0;
    border-radius: 1.5em;
    width: 90%;
    table {
        width: 100%;
        th {
            background-color: #af2d2d;
            padding: 1.5% 1%;
            position: sticky;
            font-size: 1.2rem;
        }
        tbody {
            tr:hover>td {
                background-color: transparent!important;
            }
            td {
                font-size: 1rem;
                cursor: pointer;
                transition: ease 0.5s;
                color: white;
                background-color: #f05458;
                padding: 0.5%;
            }
        }
    }
}